@font-face {
  font-family: OrbitronVariable;
  src: url(/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: Bungee;
  src: url(/assets/fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
  font-family: BungeeShade;
  src: url(/assets/fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
  font-family: Coiny;
  src: url(/assets/fonts/Coiny/Coiny-Regular.ttf);
}

@font-face {
  font-family: OoohBaby;
  src: url(/assets/fonts/Oooh_Baby/OoohBaby-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: Pecita;
  src: url(/assets/fonts/pecita/Pecita.otf);
}

@font-face {
  font-family: Wallpoet;
  src: url(/assets/fonts/wallpoet/Wallpoet-Regular.ttf);
}

@font-face {
  font-family: ZillaSlabHighlightBold;
  src: url(/assets/fonts/Zilla_Slab_Highlight/ZillaSlabHighlight-Bold.ttf);
}

@font-face {
  font-family: ZillaSlabHighlightRegular;
  src: url(/assets/fonts/Zilla_Slab_Highlight/ZillaSlabHighlight-Regular.ttf);
}

@font-face {
  font-family: Cousine;
  src: url(/assets/fonts/Cousine/Cousine-Regular.ttf);
}

@font-face {
  font-family: Sacramento;
  src: url(/assets/fonts/Sacramento/Sacramento-Regular.ttf);
}

@font-face {
  font-family: FingerPaint;
  src: url(/assets/fonts/FingerPaint/FingerPaint-Regular.ttf);
}

@font-face {
  font-family: Autograf;
  src: url(/assets/fonts/Autograf/Autograf.ttf);
}

@font-face {
  font-family: Autography;
  src: url(/assets/fonts/Autography/Autography-DOLnW.otf);
}

@font-face {
  font-family: BalooBhaina2;
  src: url(/assets/fonts/Baloo_Bhaina_2/BalooBhaina2-VariableFont_wght.ttf);
}

@font-face {
  font-family: Ronsley;
  src: url(/assets/fonts/Ronsley/Ronsley-Script.ttf);
}

@font-face {
  font-family: AlexanderLettering;
  src: url(/assets/fonts/AlexanderLettering/AlexanderLettering.otf);
}

@font-face {
  font-family: Helios;
  src: url(/assets/fonts/helios_pro/Helios_Regular.ttf);
}

@font-face {
  font-family: Brugetta;
  src: url(/assets/fonts/Brugetta/BROGETTA-Regular.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* body {
  cursor: url('/assets/prec.cur'), auto;
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #FFF0F0; /* Define the variable */
  --secondary-color: #6C6C6C;
  --main-text-color: #a88869;
  --lighter-color: #FCE0F8;
}